* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
  #nav {
    border-bottom: 5px solid #e6c875;
    background-color: #fdf5f3;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #nav img {
    height: 100%;
    width: 100px;
  }
  #nav button {
    padding: 8px 15px;
    background-color: #7e7b7b;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #heading {
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  #heading > div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-size: 18px;
  }
  #heading a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .disp {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .disp > h1 {
    margin-bottom: 15px;
    color: #170405;
  }
  .parentdiv {
    background-color: beige;
  }
  .line {
    width: 80%;
    margin: auto;
  }
  #faculty,
  #companies {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  #faculty > div > img,
  #companies > div > img {
    width: 100%;
    border-radius: 10px;
  }
  .hhead {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    color: #817e7e;
  }
  .disp > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 10px 10px;
    /* border: 1px solid black; */
  }
  @media all and (min-width: 100px) and (max-width: 850px) {
    #heading {
      grid-template-columns: repeat(2, 1fr);
    }
    #faculty,
    #companies {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  