* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body{
  display:flex;
}
#header{
 height: 10%;
 width: 100%;
 border: 1px solid green;
 display: flex;
 /* margin:auto; */
}
#logo {
  height: 100px;
  width: 100px;
}
#help{
  height: 50px;
  width: 50px;
}
#bell {
  height: 50px;
  width: 50px;
}
#search-box{
  height: 50px;
  width: 80%;
}
.fa {
  color: rgb(0, 0, 0);
}
#navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 200%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 70px; */
  margin-bottom: -40px;
  border: 1px solid red;
}
#navbar li {
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size:larger;
}

#navbar li a {
  color: black;
}
#navbar li a:hover{
  color: rgb(88, 88, 247);
}