* {
    margin: 0;
    padding: 0;
    font-family: arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  #container {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
  }
  
  #container > :nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  #container > :nth-child(1) > :nth-child(1) {
    font-size: 22px;
    line-height: 30px;
    text-align: start;
    color: #000000;
    margin-bottom: 24px;
  }
  #container > :nth-child(1) > :nth-child(2) {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    color: #222222;
    margin-bottom: 12px;
  }
  #addform {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-sizing: border-box;
  }
  #name {
    display: flex;
    column-gap: 20px;
  }
  #locality {
    display: flex;
    column-gap: 20px;
  }
  #phnNum {
    display: flex;
    column-gap: 20px;
  }
  form label {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    color: #222222;
    padding-bottom: 4px;
  }
  form input,
  select {
    padding: 6px 12px;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    padding-left: 10px;
  }
  #summary {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* margin: auto; */
    padding: 10px;
  }
  #summary > :nth-child(1) {
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    color: #222222;
    text-align: left;
    margin-bottom: 10px;
  }
  #subTotal {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 10px;
  }
  
  #delivery {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 10px;
    border-bottom: 1px solid #222222;
  }
  
  #total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 10px;
  }
  
  #checkOut {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: white;
    background-color: #222222;
    border: 1px solid #222222;
    padding: 14px 32px 12px;
    border-radius: 4px;
  }
  
  #checkOut:hover {
    cursor: pointer;
  }
  