body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #2e3337;
}
/* ----------------Js render file --------------> */

.product-cards {
  padding: 20px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-cards > div {
  margin: 10px auto;
  padding-bottom: 20px;
}
.product-image-div {
  margin: auto;
}

.product-image-div > img {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: -20px;
}

.product-cards-fav > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.product-price {
  font-family: "Lato" sans-serif;
  font-size: 21px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 700;
}

.product-title {
  font-family: "Lato", sans-serif;
  height: 30px;
  font-size: 18px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 400;
  text-align: left;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  word-break: break-word;
}

.product-container-reder {
  width: 100%;
  margin:50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* ------------------------------> */



/* ------------product page css------------------> */
.red {
  border: 1px solid red;
  padding: 20px;
}
.blue {
  border: 1px solid blue;
  padding: 20px;
}
.green {
  border: 1px solid green;
  padding: 20px;
}
.product-container {
  width: 80%;
  margin: auto;
}
.product-container>div{
  margin: 20px auto;
  
}
.product-container-banner {
  width: 90%;
  background-color: #2e3337;
  text-align: center;
  transition: 0.2s;
}
.product-container-banner:hover {
  background-color: white;
}
.product-container-banner-text{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}
.product-container-banner-text:hover{
  color: #2e3337;
}
.product-sub-container {
  display: flex;
  width: 90%;
  margin: auto;
}
.product-container-left {
  width: 20%;
  margin:50px auto;
  height: 50vh;
  
}
.product-container-right {
  width: 70%;
  margin:50px auto;
  
}
/* <------------right side-----------> */
.product-container-right-heading>p{
  font-size: 0.7rem;
}
.REPLAY{
  font-weight: bold;
}
.sorting-pegination-div{
  display: flex;
  justify-content: space-between;
}
.sorting-pegination-div>div{
  width: 30%;
}
.product-container-right-bottom-pegination{
  display: flex;
  justify-content: flex-end;
}