body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #2e3337;
}

.outline {
  border: 1px solid red;
  width: 300px;
}

.product-cards {
  padding: 10px;
}

.product-cards > div {
  margin: 20px auto;
}

.productQuickbuy {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  background-color: #333;
  border-style: none;
  padding: 12px;
  color: #fff;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
  transition: 0.2s;
}

.productQuickbuy:hover {
  background-color: #28bdb7;
  font-weight: 300;
  text-decoration: none;
  border: 2px solid white;
}

.product-cards-fav > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.product-price {
  font-family: "Lato" sans-serif;
  font-size: 21px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 700;
}

.product-title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 400;
  text-align: left;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  word-break: break-word;
}
