body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #2e3337;
}

.outline {
  border: 1px solid red;
  width: 300px;
}

.product-cards {
  padding: 20px auto;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-cards > div {
  margin: 10px auto;
  padding-bottom: 20px;
}
.product-image-div {
    margin: auto;
    width: 70%;
}

.product-image-div > img {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: -20px;
}


.product-cards-fav > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.product-price {
  font-family: "Lato" sans-serif;
  font-size: 21px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 700;
}

.product-title {
  font-family: "Lato", sans-serif;
  height: 30px;
  font-size: 18px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 400;
  text-align: left;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  word-break: break-word;
}

.right-product-container {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 10px;

}